<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo List</title>
</head>
<body>

<h1>Danh sách công việc</h1>

<a th:href="@{/add}">Thêm mới</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Content</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Priority</th>
    </tr>

    <tr th:each="todo : ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.content}"></td>
        <td th:text="${todo.dueDate}"></td>
        <td th:text="${todo.status}"></td>
        <td th:text="${todo.priority}"></td>
    </tr>
</table>

</body>
</html>