<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title}"></title>
</head>
<body>

<!-- đổi ngôn ngữ -->
<a href="?lang=vi">Tiếng Việt</a>
<a href="?lang=en">English</a>

<br><br>

<!-- hiển thị owner -->
<h2>
    Danh sách của:
    <span th:text="${ownerName}"></span>
</h2>

<!-- thông báo -->
<div th:if="${message}">
    <p style="color: green" th:text="${message}"></p>
</div>

<h1 th:text="#{list}"></h1>

<a th:href="@{/add}" th:text="#{add}"></a>

<table border="1">
    <tr>
        <th>ID</th>
        <th th:text="#{content}"></th>
        <th th:text="#{dueDate}"></th>
        <th th:text="#{status}"></th>
        <th th:text="#{priority}"></th>
        <th th:text="#{action}"></th>
    </tr>

    <tr th:each="todo : ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.content}"></td>
        <td th:text="${todo.dueDate}"></td>
        <td th:text="${todo.status}"></td>
        <td th:text="${todo.priority}"></td>

        <td>
            <a th:href="@{/edit/{id}(id=${todo.id})}"
               th:text="#{edit}">
            </a>

            <a th:href="@{/delete/{id}(id=${todo.id})}"
               onclick="return confirm('Bạn có chắc muốn xóa không?')"
               th:text="#{delete}">
            </a>
        </td>
    </tr>
</table>

</body>
</html>